body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background: no-repeat center center fixed linear-gradient(to top right, rgba(2,0,36,1) 0%, rgba(138,37,177,1) 63%, rgba(47,101,148,1) 99%);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dropdown-menu {
  width: 300px !important;
  height: 315px !important;
}

.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  /* height: 315px !important; */
  border-radius: 25px !important;
}

footer{
  background-color: whitesmoke;
}

.card{
  border-radius: 22px !important;
}

.feedArea{
  background-color: whitesmoke;
}

.register_box_size>form-group, .register_box_size>btn{
  align-content: center;
  width: 300px;
}

.alert{
  border-radius: 0%;
}

.dropdown-menu{
  height: 340px !important;
}

.form-check{
  padding-bottom: 10px;
}
