body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(36, 35, 35);
  background: no-repeat center center fixed linear-gradient(to top right, rgba(2,0,36,1) 0%, rgba(138,37,177,1) 63%, rgba(47,101,148,1) 99%);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  /* height: 315px !important; */
  border-radius: 25px !important;
}

footer, .feedArea{
  background-color: #f8faf8;
}

.card{
  border-radius: 22px !important;
}

.form-check, .login_btn, .update_btn{
  padding-bottom: 10px;
}

.login{
  padding: 0%;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 5px !important;
}

.register_box_size>form-group, 
.register_box_size>btn, 
.login_btn, 
.reg_btn{
  align-content: center;
  width: 290px;
  margin-left: 10px;
}

.dropdown-divider, .divider{
  margin: 10px;
  margin-top: 15px !important;
}

.success{
  margin-top: 40px !important;
}

.dropdown-menu{
  width: 220px !important;
}


.menu_header, .menu_email{
  margin: 0%;
  margin-left: 1.5rem !important;
  padding: 0px !important;
}

.menu_email{
  font-size: 14px;
}

.info {
  padding-left: 40px;
  margin-right: 60px;
  width: 250px;
}

#account_dividir{
  margin-top: 40px !important;
  padding-top: 25px;
  margin-left: 30px;
}


#account_titlle{
  padding-top: 20px;
  padding-left: 15px;
  margin-bottom: 0.2em;
}

.col-container {
  height: 66rem !important;
}

.update_btn {
  margin: 50px 0px !important;
  margin-left: 46px !important;
  padding-left: 16px;
  margin-left: 20px !important;
}



.fieldset-title,
.help-block{
  margin-left: 20px !important;
}


.help-block{
  color: rgb(87, 85, 85);
  padding-left: 5px;
}

.account_alert{
  margin-top: 20px ;
} 

.input-group{
  width: 300px !important;
  padding-left: 3%;
}

#login_form {
  padding-left: 22px !important;
}