<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon"> 

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
    <title> CodeHub: {{ title }}</title>
    {% else %}
    <title> Coding Hub </title>
    {%endif%}
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <a class="navbar-brand" href="/">
                        <img src="/static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                        CodeHub
                    </a>
                </ul>


                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/register">Create Account</a>
                    </li>
                    

                    <!-- ------------- LOGIN FORM ------------- -->
                    <li class="nav-item dropdown active">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Log In
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <form class="px-4 py-6" method="POST" action="">
                            <!-- The form.hidden_tag() template argument generates a hidden field that 
                            includes a token that is used to protect the form against CSRF attacks. -->
                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                <label for="exampleDropdownFormEmail1">Email address</label>
                                {{ form2.email(class="form-control", placeholder="Email") }}                            
                            </div>
                            <div class="form-group">
                                <label for="exampleDropdownFormPassword1">Password</label>
                                {{ form2.password(class="form-control", placeholder="Password") }}
                            </div>
                            <div class="form-check">
                                {{ form2.remember(class="form-check-input") }}
                                Remember Me
                            </div>
                            {{ form2.submit(class="btn btn-primary") }}
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/register">Create Account</a>
                        <a class="dropdown-item">Forgot password?</a>
                    </div>
                </li>
                
                <!-- ------------- HAMBURGUER MENU ------------- -->
                <li class="nav-item dropdown d-none">
                    <a class="nav-link " href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/static/images/menu.svg" width="23" height="23" class="d-inline-block align-top" alt="" loading="lazy">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            
        </div>
    </nav>
    </header>



    <section class="container">
        {% block body %}{% endblock %}
    </section>

 
    <footer class="page-footer font-small blue fixed-bottom">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a> Coventry University</a><br>
        </div>
    </footer>
 

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
    </script>

</body>

</html>