{% extends 'base.html' %}


{% block body %}

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True)  %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert register_unconfirmed alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container register">
        <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4> <br>

            <form class="register_box_size" method="POST" action="">
                <!-- The form.hidden_tag() template argument generates a hidden field that 
                    includes a token that is used to protect the form against CSRF attacks. -->
                {{ form.hidden_tag() }}
        
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>

                    {% if form.name.errors %}
                        {{ form.name(class="form-control is-invalid", placeholder="Name") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control", placeholder="Name") }}
                    {% endif %}
                </div> <!-- form-group// -->
        
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>

                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid", placeholder="Username") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control", placeholder="Username") }}
                    {% endif %}
                </div> 

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>

                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid", placeholder="Email") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control", placeholder="Email") }}
                    {% endif %}             
                </div> <!-- form-group// -->
        
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>

                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid", placeholder="Password") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                {{ error }}
                                Password must be at least 8 characters long, include a capital letter, a number and a symbol                    
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control", placeholder="Password") }}
                    {% endif %}   
                </div> <!-- form-group// -->
        
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control is-invalid", placeholder="Confirm password") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control", placeholder="Confirm password") }}
                    {% endif %} 
                </div> 

                <div class="form-group input-group">
                    {{ form.submit(class="btn reg_btn btn-primary") }}
                </div>

                <div class="dropdown-divider"></div>
                <a href="/login">Log In</a> <br>
                <a href="/password">Forgot password?</a>
            </form>
        </article>
        </div> 
    </div> 

{% endblock %}

